.show-mobile {
    display: inline-block;
}

@media only screen and (min-width: 992px) {
    .show-mobile {
        display: none;
    }
}

#rate {
    width: 345px;
    margin-left: 10px;
}
.select {
    width: 35%;
    float: right;
}

#select {
    
}
