<!doctype html>
<html>

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, target-densitydpi=medium-dpi" />
    <link rel="stylesheet" href="../static/css/materialize.css"></link>
    <link rel="stylesheet" href="../static/css/sidebar.css"></link>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="//cdn.transifex.com/live.js"></script>
    <div class="container">
        <a href="#" data-activates="nav-mobile" class="button-collapse top-nav full hide-on-large-only"></a>
    </div>
    <ul id="nav-mobile" class="side-nav fixed brown darken-4">
        <li class="logo">
            <a id="logo-container" href="index.html" class="brand-logo">
                <object id="side-page-logo" type="image/png" data="../static/image/logo.png"></object>
            </a>
        </li>
        <li>
            <div class="sidebar-profile">
                <div class="profile-frame" src="../static/image/profile.png">
                </div>
                <h4 class="white-text">username</h4>
            </div>
        </li>
        <li class="no-padding">
            <ul class="collapsible collapsible-accordion">
                <li class="bold"><a class="collapsible-header white-text waves-effect waves-light">분류 카테고리</a>
                    <div class="collapsible-body">
                        <ul>
                            <li class="brown darken-5"><a href="#" class="white-text">Color</a></li>
                        </ul>
                    </div>
                </li>
            </ul>
        </li>
        <li class="bold"><a href="#" class="waves-effect waves-light white-text">최신순</a></li>
        <li class="bold"><a href="#" class="waves-effect waves-light white-text">인기도순</a></li>
        <li class="bold"><a href="#" class="waves-effect waves-light white-text">신뢰도순</a></li>
        <li class="bold"><a href="#" class="waves-effect waves-light white-text">十창순</a></li>
        <li class="bold"><a href="#" class="waves-effect waves-light white-text">零창순</a></li>
    </ul>

</head>

<body>
    <div class="navbar-fixed">
        <nav>
            <div class="white nav-wrapper">
                <a href="index.html" class="brand-logo">
                    <object id="top-page-logo" type="image/png" data="../static/image/logo-dark.png"></object>
                </a>
                <ul id="nav-mobile" class="mdi-navigation-menu right hide-on-med-and-down">
                    <li class="waves-effect waves-orange"><a href="#" class="search-box black-text"><i class="material-icons black-text left">search</i>검색</a></li>
                    <li class="waves-effect waves-orange"><a href="#"><i class="material-icons black-text">chat_bubble_outline</i></a></li>
                    <li class="waves-effect waves-orange"><a href="#"><i class="material-icons black-text">more_vert</i></a></li>
                </ul>
            </div>
        </nav>
    </div>

    <footer>

    </footer>


    <!--  Scripts-->
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script>
        if (!window.jQuery) {
            document.write('<script src="bin/jquery-2.1.1.min.js"><\/script>');
        }

    </script>
    <script src="../static/js/jquery.timeago.js"></script>
    <script src="../static/js/prism.js"></script>
    <script src="../static/js/lunr.min.js"></script>
    <script src="../static/js/search.js"></script>
    <script src="../static/js/materialize.js"></script>
    <script src="../static/js/init.js"></script>
</body>

</html>
