<!doctype html>
<html>

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, target-densitydpi=medium-dpi" />
    <link rel="stylesheet" href="../static/css/materialize.css"></link>
    <link rel="stylesheet" href="../static/css/index.css"></link>
    <link rel="stylesheet" href="../static/css/common.css"></link>
    <link rel="stylesheet" href="../static/css/sidebar.css"></link>
    <link rel="stylesheet" href="../static/css/jquery-rate.css"></link>
    <script src="../static/js/index.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="//cdn.transifex.com/live.js"></script>
    <div class="container">
    </div>
    <!-- 사이드바 -->
    <ul id="nav-mobile" class="side-nav fixed brown darken-4">
        <li class="logo">
            <a id="logo-container" href="index.html" class="brand-logo">
                <object id="side-page-logo" type="image/png" data="../static/image/logo.png"></object>
            </a>
        </li>
        <li>
            <div class="sidebar-profile">
                <div class="profile-frame circle">
                </div>
                <h4 class="white-text">username</h4>
            </div>
        </li>
        <li class="no-padding">
            <ul class="collapsible collapsible-accordion">
                <li class="bold"><a class="collapsible-header white-text waves-effect waves-light">게시물 정렬</a>
                    <div class="collapsible-body">
                        <ul>
                            <li class="brown darken-5"><a href="#" class="white-text">최신순</a></li>
                            <li class="brown darken-5"><a href="#" class="white-text">인기도순</a></li>
                            <li class="brown darken-5"><a href="#" class="white-text">신뢰도순</a></li>
                            <li class="brown darken-5"><a href="#" class="white-text">十창순</a></li>
                            <li class="brown darken-5"><a href="#" class="white-text">零창순</a></li>
                        </ul>
                    </div>
                </li>
            </ul>
        </li>
        <li class="no-padding">
            <ul class="collapsible collapsible-accordion">
                <li class="bold"><a class="collapsible-header white-text waves-effect waves-light">분류 카테고리</a>
                    <div class="collapsible-body">
                        <ul>
                            <li class="brown darken-5"><a href="#" class="white-text">전체보기</a></li>
                            <li class="brown darken-5"><a href="#" class="white-text">의류</a></li>
                            <li class="brown darken-5"><a href="#" class="white-text">미용 / 뷰티</a></li>
                            <li class="brown darken-5"><a href="#" class="white-text">음료 및 주류</a></li>
                            <li class="brown darken-5"><a href="#" class="white-text">식품</a></li>
                            <li class="brown darken-5"><a href="#" class="white-text">생활용품</a></li>
                            <li class="brown darken-5"><a href="#" class="white-text">교육</a></li>
                            <li class="brown darken-5"><a href="#" class="white-text">금융</a></li>
                            <li class="brown darken-5"><a href="#" class="white-text">문화</a></li>
                            <li class="brown darken-5"><a href="#" class="white-text">스포츠 / 레저</a></li>
                            <li class="brown darken-5"><a href="#" class="white-text">관리 / 중계 서비스</a></li>
                            <li class="brown darken-5"><a href="#" class="white-text">인테리어 용품 / 서비스</a></li>
                            <li class="brown darken-5"><a href="#" class="white-text">전자기기</a></li>
                            <li class="brown darken-5"><a href="#" class="white-text">생활서비스</a></li>
                            <li class="brown darken-5"><a href="#" class="white-text">오락</a></li>
                        </ul>
                    </div>
                </li>
            </ul>
        </li>
        <form action="/logout" method="post">
            <li class="bold">
                <a class="white-text waves-effect waves-light" name="logout">로그아웃</a>
            </li>
        </form>
    </ul>

</head>

<body>
    <!-- 상단바 -->
    <div class="navbar-fixed">
        <nav>
            <div class="white nav-wrapper">
                <a href="#" data-activates="nav-mobile" class="button-collapse black-text"><i class="mdi-navigation-menu"></i></a>
                <a href="index.html" class="brand-logo">
                    <object id="top-page-logo" type="image/png" data="../static/image/logo-dark.png"></object>
                </a>
                <ul id="nav-mobile" class="mdi-navigation-menu right hide-on-med-and-down">
                    <li class="search-topbar">
                        <a href="#" style="padding: 0;">
                            <form class="col search" style="padding: 0;">
                                <div class="row" style="padding: 0;">
                                    <div class="input-field brown-text" style="height: 64px">
                                        <i class="material-icons prefix right">search</i>
                                        <input id="icon_prefix" type="search" class="validate searchfield-topbar">
                                        <label for="icon_prefix"></label>
                                    </div>
                                </div>
                            </form>
                        </a>
                    </li>
                    <li class="waves-effect waves-orange"><a href="#"><i class="material-icons brown-text">chat_bubble_outline</i></a></li>
                    <li onclick="clikedWriteButton()" class="waves-effect waves-orange"><a href="#"><i class="material-icons brown-text darken-5">mode_edit</i></a></li>
                </ul>
            </div>
        </nav>
    </div>

    <!-- 카드 레이아웃 박스 -->
    <div id="contents-container">
        <div id="card-container">


            <!-- 글 쓰기 -->
            <div class="card">
                <div class="card-content white-text">
                    <!--창점-->
                    <input name="star1" type="radio" class="star" />
                    <input name="star1" type="radio" class="star" />
                    <input name="star1" type="radio" class="star" />
                    <input name="star1" type="radio" class="star" />
                    <input name="star1" type="radio" class="star" />
                    <input name="star1" type="radio" class="star" />
                    <input name="star1" type="radio" class="star" />
                    <input name="star1" type="radio" class="star" />
                    <input name="star1" type="radio" class="star" />
                    <input name="star1" type="radio" class="star" />
                    <form class="col s12">
                        <div class="row">
                            <div class="input-field col s12" style="padding-bottom:0px;">
                                <i class="material-icons prefix brown-text">mode_edit</i>
                                <textarea id="icon_prefix2" class="materialize-textarea black-text"></textarea>
                                <label for="icon_prefix2">당신의 분노를 창으로 표현해주세요!</label>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="card-bottom">
                    <button class="brown darken-2 btn waves-effect waves-light right" type="submit" name="action">올리기
                        <i class="material-icons right">send</i>
                    </button>
                    <button style="margin-right: 10px;" class="brown lighten-1 waves-effect waves-light btn left">
                        <i class="material-icons">camera</i>
                    </button>
                    <button class="brown lighten-1 waves-effect waves-light btn">
                        <i class="material-icons">play_circle_outline</i>
                    </button>
                </div>
            </div>


            <!-- 컨텐츠 정렬 -->
            <div class="card">
                <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator" src="../static/image/2.jpg">
                </div>
                <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">우린 어디다 주차해야하나여..</span>
                    <p>
                        <div class="chip">
                            생활 서비스
                        </div>
                        <div class="chip">
                            문화
                        </div>
                        <div class="chip">
                            교육
                        </div>
                    </p>
                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">우린 어디다 주차해야하나여...<i class="material-icons right">close</i></span>
                    <p>보건소 주차장에 장애인 주차시설은 없고 여성전용 주차장같은 말같지도 않은게 있네요..
                        <br>좀 너무한것 같지 않습니까??
                        <br>너무 어이가 없어서 10창 드리려는데 여러분 생각은 어떤가요??</p>
                </div>
            </div>


        </div>
    </div>

    <!-- 플로팅버튼 -->
    <div class="show-mobile fixed-action-btn vertical click-to-toggle" style="bottom: 45px; right: 24px;">
        <a class="btn-floating btn-large waves-effect brown"><i class="material-icons">menu</i></a>
        <ul>
            <li><a class="btn-floating red"><i class="material-icons">search</i></a></li>
            <li><a class="btn-floating yellow darken-1"><i class="material-icons">chat_bubble_outline</i></a></li>
            <li><a class="btn-floating blue"><i id="scroll" class="material-icons" onclick="clikedWriteButton()">mode_edit</i></a></li>
        </ul>
    </div>

    <footer>

    </footer>


    <!--  Scripts-->
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script>
        if (!window.jQuery) {
            document.write('<script src="bin/jquery-2.1.1.min.js"><\/script>');
        }

    </script>
    <script src="../static/js/jquery.timeago.js"></script>
    <script src="../static/js/prism.js"></script>
    <script src="../static/js/lunr.min.js"></script>
    <script src="../static/js/search.js"></script>
    <script src="../static/js/materialize.js"></script>

    <script src="../static/js/init.js"></script>
    <script src="../static/js/jquery-star-rate.js"></script>
</body>

</html>
